<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
      <main>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-7">
                      <div class="card shadow-lg border-0 rounded-lg mt-5">
                          <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                          <div class="card-body">
                              <form>


                                  <div *ngIf="successMessage" class="alert alert-success">
                                    {{successMessage}}
                                  </div>



                                    <div  *ngFor="let em of errorMessages">
                                      <div class="alert alert-danger">
                                          {{em}}
                                      </div>
                                    </div>



                                  <div class="row mb-3">
                                      <div class="col-md-6">
                                          <div class="form-floating mb-3 mb-md-0">
                                              <input class="form-control" [(ngModel)]="inputName" [ngModelOptions]="{standalone:true}" id="inputName" type="text" placeholder="Enter your name" />
                                              <label for="inputName">Name</label>
                                            </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-floating">
                                              <input class="form-control" [(ngModel)]="inputUserName" [ngModelOptions]="{standalone:true}" id="inputUserName" type="text" placeholder="Enter your User name" />
                                              <label for="inputUserName">User name</label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                          <input class="form-control" [(ngModel)]="inputShopName" [ngModelOptions]="{standalone:true}" id="inputShopName" type="text" placeholder="Enter Shop Name" />
                                          <label for="inputShopName">Shop Name</label>
                                                </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" [(ngModel)]="inputEmail" [ngModelOptions]="{standalone:true}" id="inputEmail" type="email" placeholder="Enter Email" />
                                        <label for="inputEmail">Email</label>
                                        </div>
                                    </div>
                                </div>

                                  <div class="row mb-3">
                                      <div class="col-md-6">
                                          <div class="form-floating mb-3 mb-md-0">
                                              <input class="form-control" [(ngModel)]="inputPassword" [ngModelOptions]="{standalone:true}" id="inputPassword" type="password" placeholder="Create a password" />
                                              <label for="inputPassword">Password</label>

                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-floating mb-3 mb-md-0">
                                              <input class="form-control" [(ngModel)]="inputPasswordConfirm" [ngModelOptions]="{standalone:true}" id="inputPasswordConfirm" type="password" placeholder="Confirm password" />
                                              <label for="inputPasswordConfirm">Confirm Password</label>

                                            </div>
                                      </div>
                                  </div>
                                  <div class="mt-4 mb-0">
                                      <div class="d-grid"><a class="btn btn-primary btn-block" (click)="registerUser()">Create Account</a></div>
                                  </div>
                              </form>
                          </div>
                          <div class="card-footer text-center py-3">
                              <div class="small"><a routerLink="/login">Have an account? Go to login</a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </main>
  </div>
  <div id="layoutAuthentication_footer">
      <app-footer></app-footer>
  </div>
</div>
